.home .rocket-wrapper {
  background-color: #ff3cac;
  background-image: linear-gradient(
    10deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  margin-top: -80px;
  padding-top: 58px;
  position: relative;
}

.home .rocket {
  margin-bottom: 1.5em;
  padding-top: 30px;
  padding-bottom: 30px;
}

.home .rocket-wrapper .synthesis-logo {
  text-align: center;
}

.home .rocket-wrapper .synthesis-logo img {
  width: 80%;
}

.home .rocket-wrapper img.kafka-logo {
  width: 65%;
}

.home .stream-big {
  text-align: center;
}

.home .stream-big h4 {
  padding: 1em;
  font-weight: 200;
}

.home .rocket-wrapper button {
  border-radius: 2em;
  bottom: -24px;
  left: 0;
  margin: auto;
  padding: 12px 0;
  position: absolute;
  right: 0;
  width: 60%;
}

.home .shopping-category-header {
  font-size: 0.9em;
  font-weight: 600;
  padding: 1em;
}

.home .shopping-option-wrapper {
  display: flex;
  padding: 0 0.5em;
  margin-bottom: 0.8em;
}

.home .shopping-option-wrapper a,
.home .shopping-option-wrapper div {
  color: #7e7e7e;
  display: block;
  font-size: 0.75em;
  text-align: center;
  text-decoration: none;
  flex: 1;
  justify-content: space-evenly;
}

.home .shopping-option-wrapper a img,
.home .shopping-option-wrapper div img {
  height: 3.5em;
  margin-bottom: 5px;
}

.home .shopping-category-breakline {
  margin: 0.8em 0.8em 0 0.8em;
  border-bottom: 1px solid var(--linebreak-grey);
}

.home .shopping-options:nth-last-child(1) .shopping-category-breakline {
  margin-bottom: 60px;
}

.home .wallet-menu {
  margin: 10px;
  margin-top: 30px;
}

.home .wallet-menu img {
  height: 60px;
  vertical-align: middle;
}

.home .wallet-menu a {
  text-decoration: none;
  color: #212121;
  display: block;
  margin: 0.5em 2em 0.5em 1em;
}

.home .wallet-menu span {
  font-size: 1.3em;
  font-weight: 100;
  margin-left: 1em;
  vertical-align: middle;
}

.home .wallet-menu-icon {
  font-size: 60px;
  vertical-align: middle;
  color: #212121;
}

.wallet-hr {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #e2e2e2;
  background-color: #e2e2e2;
  border: none;
  height: 1px;
}
