.nedbank-green {
    color: forestgreen;
}

.tablecell-no-border {
    border-bottom: 0px;
}

.pad-left-min
{
    padding-left: 3em;
}

.mar-right-min{
    margin-right: 1em;
}

.right-icon {
    margin-right: 1em;
}

.cart-root .indent-min {
    margin-left: 1em;
}

.cart-root .indent-med {
    margin-left: 3em;
}

.cart-root .indent-max {
    margin-left: 5em;
}

.cart-root .check-circle {
    color: limegreen;
    margin-left: 1em;
}

.cart-root .link-typography {
    margin-right: 1em;
}