.top {
  background: linear-gradient(
    var(--primary-color),
    var(--primary-color-darker)
  );
  margin-top: -1em;
  padding: 2em 0;

  min-height: 50%;
}
.indicator {
  display: table;
  margin: 0em auto;
  max-height: 4em;
  max-width: 4em;
}

.indicator ~ h2 {
  margin: 0.8em 0 0 0;
  color: #595959;
  font-size: 1.5em;
  font-weight: 200;
}

.indicator .pending {
  width: 100%;
  height: 100%;
}

.indicator svg {
  width: 100%;
  height: 100%;
}

.indicator svg.check {
  fill: #b55fe4;
}

.top .payment-to-description {
  color: #b0b0b0;
  font-size: 0.8em;
  margin: 0.5em 0;
  text-align: center;
}

.description {
  margin: 1.5em 0 0;
  color: #595959;
  font-size: 1.5em;
  font-weight: 200;
}

.currency-label-wrapper {
  display: table;
  margin: auto;
}

.top sub.currency,
.bottom sub.currency {
  margin-top: 0.45em;
}

.top .amount,
.bottom .amount {
  display: flex;
}

.top .amount .value {
  font-size: 2em;
}

.bottom .amount .value {
  color: #595959;
  font-size: 1.5em;
  text-align: center;
  font-weight: 200;
}

.top .subtext {
  color: rgba(0, 0, 0, 0.52);
}

.top .transaction-description {
  font-size: 1.2em;
  color: #b55fe4;
  text-align: center;
}

.bottom {
  margin-top: 2em;
}

.bottom a {
  display: block;
  width: 50vw;
  text-align: center;
  margin: 1em auto;
}

.bottom div.button-container {
  bottom: 2em;
  left: 2em;
  position: absolute;
  right: 2em;
}

.bottom button {
  width: 100%;
  border-radius: 2em;
  padding: 12px 0;
}
