.textFields {
    width: 100%;
}

p.description {
    color: #b0b0b0;
    text-align: center;
    font-size: 0.8em;
}

form.otp {
    margin: 0 1.3em;
    text-align: center;
}

form.otp button {
    background-color: rgb(255, 200, 42);
    color: #000;
    width: 20em;
    border-radius: 2em;
    margin-top: 3em;
    padding: 12px 0;
}

.otp-link p {
    font-size: 0.7em;
    width: 8em;
    color: var(--primary-color);
    font-weight: bold;
}