.product-content .product-card {

    /*box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2), 0px 0px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12);*/
    box-shadow: none;

    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.12);
    border-width: 0px 1px 1px 0;
    border-style: solid;
}

.product-card {
    border-radius: 0px !important;
}

.product-card-placeholder {
    margin: 1em 0;
}

.product-card .product-img {
    height: 9em;
}

.product-img {
    height: auto;
}

.product-card .description {
    padding: 5px;
    height: 7em;
}

.product-card .title {
    font-weight: bold;
    text-align: left;
}

.product-card .detail {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    color: #878787;
}

.product-card .money {
    font-weight: bold;
    text-align: left;
    font-size: 18px;
}

.product-card .stock {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: #878787;
    margin-right: 1em;
}

/**
.product-card .detail-bar {
    padding-right:10px;
}
**/

/**
.product-card .stock {
    padding: 2px 5px 2px 6px;
    background-color: rgba(0,47,52,.2);
    color: #878787;
    font-size: 0.75em;
    border-radius: 30%;
    box-shadow: 0.5px 0.5px 0.5px grey;
    margin-top:3px;
  }
*/


.product-card .loading {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: productPlaceholderAnimation;
    animation-delay: 1s;
    animation-timing-function: linear;
    background: rgba(0,47,52,.2);
    background: linear-gradient(90deg,rgba(0,47,52,.2) 8%,rgba(0,47,52,.36) 18%,rgba(0,47,52,.2) 33%);
    background-size: 100em 100em;
    position: relative;
    height: 8em;
}

@keyframes productPlaceholderAnimation {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 50em 0;
    }
    100% {
        background-position: 100em 0;
    }
}

.product-card .text-placeholder {
    background-color: rgba(0,47,52,.2);
    width: 10em;
    height: 1.5em;
    margin: 5px 0 0 0;
}

.product-card .money-placeholder {
    color: rgba(0,47,52,.2);
    text-align: left;    
    font-weight: bold;
    font-size: 20px;
}