.snackbar .message div{
    margin-bottom: 1em;
    text-align: center;
}

.snackbar .message button {
    color: #858585;
    width: 50%;
}

.snackbar .message button:first-of-type {
    /* float: left; */
    color:var(--accent-color);
}