.to-add ~ h4 {
    margin: 1.5em 0 0 0;
}

.methods {
    list-style: none;
    padding: 0;
}

.methods li {
    border-bottom: 1px solid #e7e7e7;
    color: var(--text-grey);
    font-size: 1.2em;
    padding: 1em;
    position: relative;
    width: calc(100% - 2em);
}

.methods li a {
    display: block;
}

.methods li .MuiSvgIcon-root-50 {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 1em;
    top: 0;
}