.product-price-slider {
    width: 15em;
    padding: 12px;
}

.product-price-slider .slider-control {
    padding: 15px 0px;
    /*touch-action: none;*/
    /*
    The above line removes the following error when moving the slider:
        Unable to preventDefault inside passive event listener due to target being treated as passive
    However I am commenting it out as I don't know what the behaviour of it will be on the mobile devices.
    */
}