.money-ticker {
    display: table;
    margin: auto;
}

.money-ticker .amount {
    height: auto;
}

.money-ticker .value-wrapper,
.money-ticker .currency {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.money-ticker .value {
    opacity: 0;
}

.money-ticker .value + .previous-balance {
    opacity: 1;
    margin-top: -1.3em;
}

.money-ticker .number {
    display: inline-block;
    position: relative;
    transform: translateZ(-1em);
    transform-origin: 50% 50% -20px;
}

.money-ticker .number.out {
    transform: rotateX(90deg);
    transition: transform 0.30s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.money-ticker .number.behind {
    transform: rotateX(-90deg);
}

.money-ticker .number.in {
    transform: rotateX(0deg);
    transition: transform 0.36s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}