header.bottom-nav {
    top: auto;
    bottom: 0;
    background-color: var(--linebreak-grey);
}

header.bottom-nav div.toolbar {
    min-height: 42px;
    display: flex;
    justify-content:space-evenly;
}

header.bottom-nav div.toolbar button {
}

header.bottom-nav div.toolbar button span{
    flex-direction: column;
    font-size: 0.4em;
}

header.bottom-nav .scan-button {
    z-index: 1;
    top: -1em;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: var(--primary-color);
    background-color: var(--accent-color);
    text-transform: unset;
}

header.bottom-nav .scan-button span {
    display: flex;
    flex-direction: column;
}

header.bottom-nav div.toolbar button.scan-button span {
    font-size: 0.7em;
}
