.menu {
  margin-bottom: 5rem;
}

.toolbar {
  display: flex;
}

.toolbar-top {
  display: flex;
}

header:not(.bottom-nav) .toolbar {
  padding: 3px 5px;
}

header .login {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
}

header {
  color: #fff !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.title {
  flex: auto;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
}

.list {
  width: 250px;
}

.menuButton {
  margin: 0 20px 0 -13px;
}

.grow {
  flex-grow: 1;
}

h1 a,
ul a {
  text-decoration: none;
  color: inherit;
}
