:root {
  --primary-color: white;
  --primary-color-darker: white;
  --accent-color: #fece4a;
  --accent-color-light: rgb(255,249,231);

  --linebreak-grey: #f0f0f0;
  --text-grey: #858585;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Hide bottom buttons when keyboard is visible */
.keyboard-up {
  transform: translateY(0);
  transition: 150ms linear;
}

@media screen and (max-height: 500px) {
  .keyboard-up {
    transform: translateY(10em);
  }
}
