.product-filter {
    margin: -1em 0;
    margin-bottom: 0em;
}

.product-filter .filter-button {
    width: 50%;
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    border-radius: 0;
    border-color: rgba(0,0,0, 0.12);

    background: url(/assets/images/filter.svg) bottom left no-repeat;
    background-position-x: 20px;
    background-position-y: 2px;
    background-size: 30px 30px;
}

.product-root {
    flex-grow: 1;
}

.product-content {
}