.product-detail {
    box-shadow: none !important;
}

.product-detail .money {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}

.product-detail .stock {
    margin-top:7px;
}

.product-detail .wishlist {
    width: 50%;
    font-weight: 600;
}

.product-detail .product-detail.cart {
    background: url(/assets/images/add-to-cart.svg) bottom left no-repeat;
    background-position-x: 10px;
    background-position-y: -1px;
    width: 50%;
    font-weight: 600;
}

.product-detail .actions {
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.12);
    border-width: 1px 0 0 0;
    border-style: solid;

    background-image: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12));
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: center center;
}